<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y:scroll; height:720px; width:800px;">
                <div class="form-group" style="margin-bottom: 0 !important">

					<div id="PropertyTemplates">
						<div id="FeedbackTemplate">
							<div id="templateFormula" class="templateFormula">
								<div id="templateDescription" style="margin-left:10px;">
									<ul style="white-space:normal"><b>Description: </b>Operational mode changes are always reflected in a change on specific
                                        state variables representing user interface elements.</ul><br>
									<ul style="white-space:normal"><b>Example: </b>
                                        <em>(mode(st1) &ne; mode(st2)) &iff; (topline_display(st1) &ne; topline_display(st2))</em>&nbsp;
										This formula checks that any operational mode change is always reflected in a change in the topline display element.
									</ul><br>
									<ul style="white-space:normal"><b>Intent: </b>In different operational modes, the same user action may have different effects.
                                        It is therefore important to provide the user with sufficient information on the user interface to recognise operational
                                        mode changes and the current operational mode, otherwise users may perform an action that is appropriate in one mode in
                                        another mode. (Nielsen's usability heuristics: Feedback and Error prevention).</ul>
								</div>
								<hr>
								<div id="templatePameters" style="margin-left:10px; margin-top:20px;">
                                    <ul style="white-space:normal"><b>State variables</b></ul>
									<select multiple id="stateVariable" name="stateVariable" style="width:300px">
										<!-- <option value="">Please choose a state variable</option> -->
										{{#each stateVariables}}
										  <option value={{this}}>{{this}}</option>
										{{/each}}
									</select><br>
                                    <em>(Hold down the Ctrl (Linux/Windows) / Command (Mac) button to select multiple actions)</em><br><br>
                                    <!-- <ul style="white-space:normal"><b>Action</b></ul> -->
									<!-- <select multiple id="transitions" name="transitions" style="width:300px" style="display:none;">
										{{#each transitions}}
										  <option value={{this}}>{{this}}</option>
										{{/each}}
									</select> -->
									<hr>
									<ul style="white-space:normal"><b>PVS THEOREM</b></ul>
									<!-- <div id="pvs_property" style="margin-left:10px;"> -->
                                    <div>
                                        <textarea
                                            rows="10" cols="88" id="pvs_property"
                                            style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;"
                                            type ="text"
                                            value=""
                                            name ="pvs_property"
                                            <!--  -->
                                        </textarea>
                                    </div>
                                    <hr>
								</div>
							</div>
						</div>
					</div>

                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit" class="btn btn-success right" id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>
