<li class="list-group-item plugin-box" id="pluginBox_{{id}}" style="display:flex;">
<div class="toggle toggle-modern plugin-toggle" style="width:80px; height:32px;" id="pluginToggle_{{id}}"></div>
<label for="{{label}}" id="pluginLabel_{{id}}" style="margin: 6px 0 0 10px;">{{label}}</label>
</li>
