<ul class="dropdown dropdown-vertical" id="emuchartsTab-NEXT">
    <li>{{#each emucharts}}
        {{#if is_selected}}
        <a href="#!" style="text-align:center; background-color:blue; color:white; cursor:default;" id="{{emuchart_id}}" class="selected">
            <span style="font-size: 1.2em;
                 float: left;
                 margin-left: -18px;
                 color: white;
                 background-color: transparent;"
                 class="glyphicon glyphicon-triangle-right"></span>
            {{emuchart_name}}
        </a>
        {{else}}
        <a href="#!" style="text-align:center;" id="{{emuchart_id}}">
            {{emuchart_name}}
        </a>
        {{/if}}{{/each}}
    </li>
</ul>
