{{#if template_description}}<!-- Template defining the visual appearance of integer and fractional part of a numeric display widget -->{{/if}}
<div class="{{type}}_whole_part" style="position:absolute; left:0px; padding-left:{{whole.padding-left}}px; width:{{whole.width}}px; height:{{whole.height}}px; text-align:right; display:inline-flex;">{{#each whole.digits}}
    <div style="border-radius:2px;text-align:center; width:{{../whole.letter-spacing}}px; min-width:{{../whole.letter-spacing}}px; max-width:{{../whole.letter-spacing}}px; font-size:{{font-size}}pt;{{#if selected}} color:{{../../whole.background-color}}; background-color:{{../../whole.color}}{{else}} color:{{../../whole.color}}; background-color:{{../../whole.background-color}}{{/if}}">{{val}}</div>{{/each}}
</div>

{{#if point.viz}}<div class="{{type}}_decimal_point" style="position:absolute; text-align:center; margin-left:{{point.margin-left}}px; left:{{point.left}}px; width:{{point.width}}px; min-width:{{point.width}}px; max-width:{{point.width}}px; height:{{point.height}}px; text-align:center; font-size:{{point.font-size}}pt;">
&bull;</div>{{/if}}

{{#if frac.viz}}<div class="{{type}}_frac_part" style="position:absolute; left:{{frac.left}}px; width:{{frac.width}}px; height:{{frac.height}}px; text-align:left; display:inline-flex;">{{#each frac.digits}}
    <div style="border-radius:2px; text-align:center; width:{{../frac.letter-spacing}}px; min-width:{{../frac.letter-spacing}}px; max-width:{{../frac.letter-spacing}}px; font-size:{{font-size}}pt;{{#if selected}} color:{{../../frac.background-color}}; background-color:{{../../frac.color}}{{else}} color:{{../../frac.color}}; background-color:{{../../frac.background-color}}{{/if}}">{{val}}</div>{{/each}}
</div>{{/if}}
