<div id="warnings" class="warnings" style="display:none"><button type="button" id="dismissWarnings">Dismiss</button></div>
<div id="content" class="center prototypebuilder offscreen">
    <div id="header" class="btn-group">
        <div id="projectTitle">
            <div class="btn txtProjectName"><span id="txtProjectName"></span></div>
            <div style="width:100%">
                <div class="btn-group pull-right" style="display:flex">
                    <button type="button" class="btn btn-primary-outline" id="newProject"><span class="glyphicon glyphicon-file"></span> New Project</button>
                    <button type="button" class="btn btn-primary-outline" id="openProject">
                        <span class="glyphicon glyphicon-folder-open"></span> Open Project</button>
    <!--
                    <a class="btn"
                       id="btnEditStoryboard">
                        <span class="glyphicon glyphicon-film"></span> Edit Storyboard</a>
    -->
                    <input type="file" class="hide" id="btnSelectPicture" name="selectPicture" accept="image/*">
                    <div class="btn-group pull-right" style="display:flex; width:158px;">
                        <button type="button" class="btn btn-primary-outline" id="btnSaveProject"><span class="glyphicon glyphicon-floppy-save"></span> Save Project</button>
                           <button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" style="width:32px;">
                               <span class="caret"></span>
                           </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="btn" id="btnSaveProjectAs" style="border-radius:0; margin:-8px 0 -8px; border-color: whitesmoke;">
                                <span class="glyphicon glyphicon-floppy-disk" style="margin-left:-30px;"></span> Save As...</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary-outline" id="btnLoadPicture"><span class="glyphicon glyphicon-picture"></span> Change Picture</button>
                    <div class="pull-right" style="min-width: 260px; display:inline-flex;">
<!--
                        <a id="lblWebSocketStatus" class="btn status">WebSocket <span class="glyphicon glyphicon-ok"></span></a>
                        <a id="lblPVSioStatus" class="btn status">PVSio <span class="glyphicon glyphicon-warning-sign"></span></a>
-->
                        <a id="btnReconnect" class="btn" style="display:none;">Try to reconnect to WebServer <span class="glyphicon glyphicon-random"></span></a>
                        <a id="lblWebSocketStatus" class="btn status"
                           style="background:rgb(8, 88, 154); color:white; cursor:default;">
                            WebServer <span class="glyphicon glyphicon-ok"></span></a>
                        <a id="logo" class="btn status"
                           style="background:rgb(8, 88, 154); color:white; cursor:default;">
                            <span>PVSio-web 2.1</span></a>
                        <div id="autoSaver" class="pull-right"></div>
                        <a id="preferences" class="btn">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ljs-hcontent content-body">
        <div class="ljs-hcontent">
            <div id="body"></div>
        </div>
        <div id="rightPanel" class="ljs-right">
            <div id="plugins-group" class="plugins-group">
                <div class="plugins">PVSio-web Tools</div>
                <ul>
                    {{#each plugins}}
                    <li class="list-group-item plugin-box" id="pluginBox_{{id}}" style="display:flex;">
                        <div class="toggle toggle-modern plugin-toggle" style="width:80px; height:32px;" id="pluginToggle_{{id}}"></div>
                        <label for="{{label}}" id="pluginLabel_{{id}}" style="margin: 6px 0 0 10px;">
                            <input type="checkbox"
                                   name="{{label}}"
                                   id="plugin_{{id}}"
                                   style="display:none;">
                                   {{label}}
                        </label>
                        <script>
                            $('#pluginToggle_{{id}}').on('toggle', function (e, active) {
                                if (active) {
                                    $('#plugin_{{id}}').get(0).checked = true;
                                } else {
                                    $('#plugin_{{id}}').get(0).checked = false;
                                }
                            });
                            $('#plugin_{{id}}').change(function() {
                              if (this.checked) {
                                $('#pluginToggle_{{id}}').data('toggles').toggle(true);
                              } else {
                                $('#pluginToggle_{{id}}').data('toggles').toggle(false);
                              }
                            });
                        </script>
                    </li>
                    {{/each}}
                    <script>
                        // bootstrap toggle buttons
                        //$('[data-toggle="toggle"]').bootstrapToggle();
                        $('.toggle').toggles();
                        $('.toggle-inner').css("display", "flex"); // this is needed to fix a bug in jquery-toggles, which messes up the toggle when zooming in/out in the browser
                    </script>
                </ul>
            </div>
            <div class="expandable-panel">
                <script>
                    function toggle(elem, label) {
                        var text = document.getElementById(elem + "-label");
                        var c = document.getElementById(elem);
                        if (c.style.display === "none") {
                            c.style.display = "block";
                            text.textContent = label;
                        } else {
                            c.style.display = "none";
                            text.textContent = label + " (click to expand)";
                        }
                    }
                </script>
                <div class="expandable-panel-separator" style="height:4px; background-color: gray;"></div>
                <div class="expandable-panel-heading" onclick="toggle('scripts', 'Interactions recorder')">
                    <span id="scripts-label">Interactions recorder (click to expand)</span>
                </div>
                <div id="scripts" style="display:none">
                    <div id="scripts-toolbar">
                        <span id="btnRecord" class="glyphicon">&bull;</span>
                        <span id="btnStop" class="glyphicon glyphicon-stop"></span>
<!--
                        <span id="btnFastbackward" class="glyphicon glyphicon-circle-arrow-left"></span>
                        <span id="btnPlay" class="glyphicon glyphicon-play-circle"></span>
                        <span id="btnFastforward" class="glyphicon glyphicon-circle-arrow-right"></span>
                        <span id="btnRepeat" class="glyphicon glyphicon-repeat"></span>
-->
                    </div>
                    <ul class="list-group"></ul>
                </div>

                <div class="expandable-panel-separator" style="height:4px; background-color: gray;"></div>
                <div class="expandable-panel-heading" onclick="toggle('console', 'PVSio-web console')">
                    <span id="console-label">PVSio-web console (click to expand)</span>
                </div>
                <div id="console" style="display:none"><p>Log start...</p></div>
                <div class="expandable-panel-separator" style="height:4px; background-color: gray;"></div>
                <div id="project-notifications"></div>
            </div>
        </div>
    </div>
</div>
<div id="audio"></div>
