<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y: scroll; height: 162px;">
                {{#each params}}
                <div class="form-group">
                    <label class="control-label col-sm-4"
                           for="{{id}}">{{name}}</label>
                    <div class="col-sm-8">
                        {{#if inputbox}}
                        <input id="{{id}}"
                               class="form-control"
                               type="text"
                               value="{{value}}"
                               required="true"
                               style="padding: 6px 12px;"/>
                        {{else}}
                        <select id="{{id}}"
                                class="form-control"
                                type="text"
                                value="{{value}}"
                                required="true">
                            {{#each options}}
                            <option value="{{value}}"
                                    {{#if this.selected}}
                                    selected = "selected"
                                    {{/if}}>{{value}}</option>
                            {{/each}}
                        </select>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="panel-footer">
                <button type="button"
                        class="btn btn-danger left"
                        id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit"
                        class="btn btn-success right"
                        id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>
