<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y: scroll; height: 232px;">
                <div class="form-group">
                    <label class="control-label col-sm-4"
                           for="newDatatypeName">{{textLabel.newDatatypeName}}</label>
                    <div class="col-sm-8">
                        <input id="newDatatypeName"
                               class="form-control"
                               type="text"
                               value="{{placeholder.newDatatypeName}}"
                               placeholder="{{placeholder.newDatatypeName}}"
                               required="true"
                               style="padding: 6px 12px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4"
                           for="newDatatypeConstructor1">{{textLabel.newDatatypeConstructor1}}</label>
                    <div class="col-sm-8">
                        <input id="newDatatypeConstructor1"
                               class="form-control"
                               type="text"
                               value="{{placeholder.newDatatypeConstructor1}}"
                               placeholder="{{placeholder.newDatatypeConstructor1}}"
                               required="true"
                               style="padding: 6px 12px;"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label col-sm-4"
                           for="newDatatypeConstructor2">{{textLabel.newDatatypeConstructor2}}</label>
                    <div class="col-sm-8">
                        <input id="newDatatypeConstructor2"
                               class="form-control"
                               type="text"
                               value="{{placeholder.newDatatypeConstructor2}}"
                               placeholder="{{placeholder.newDatatypeConstructor2}}"
                               required="true"
                               style="padding: 6px 12px;"/>
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label class="control-label col-sm-4"
                           for="newDatatypeValue">{{textLabel.newDatatypeValue}}</label>
                    <div class="col-sm-8">
                        <input id="newDatatypeValue"
                               class="form-control"
                               type="text"
                               value="{{placeholder.newDatatypeValue}}"
                               placeholder="{{placeholder.newDatatypeValue}}"
                               style="padding: 6px 12px;"/>
                    </div>
                </div> -->
            </div>
            <div class="panel-footer">
                <button type="button"
                        class="btn btn-danger left"
                        id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit"
                        class="btn btn-success right"
                        id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>
