<div class="form-center">
    <form class="center form-horizontal" onsubmit="return false" role="form">
    <div class="panel panel-info shadow center dialog">
        <div class="panel-heading">Create Widget</div>
        <div class="panel-body">
                <ul class="nav nav-tabs" id="tabHeaders">
                    <li>
                        <a href="#display" data-toggle="tab" id="displayTab">Display</a>
                    </li>
                    <li>
                        <a href="#button" data-toggle="tab" id="buttonTab">Button</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="display">
                        <div class="form-group">
                            <label for="displayKey" class="col-sm-4 control-label">Display Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="displayKey" id="displayKey" required class="form-control" placeholder="Please enter display name (mandatory)" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cursorName" class="col-sm-4 control-label">Cursor Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="cursorName" id="cursorName" class="form-control" placeholder="Please enter cursor name (optional)" value="" />
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label for="margin" class="col-sm-4 control-label" style="padding-top:30px;">Position (px)</label>
                            <div class="col-sm-8" style="padding-top:6px;" name="margin">
                                <div class="coordTable">Top corner: <input type="text" name="top" id="top" class="form-control numField" placeholder="{{top}}" value="{{top}}"/></div>
                                <div class="coordTable">Left corner: <input type="text" name="left" id="left" class="form-control numField" placeholder="{{left}}" value="{{left}}"/></div>
                            </div>
                            <label for="size" class="col-sm-4 control-label" style="padding-top:30px;">Dimensions (px)</label>
                            <div class="col-sm-8" style="padding-top:6px;" name="size">
                                <div class="coordTable">Width: <input type="text" name="width" id="width" class="form-control numField" placeholder="{{width}}" value="{{width}}"/></div>
                                <div class="coordTable">Height: <input type="text" name="height" id="height" class="form-control numField" placeholder="{{height}}" value="{{height}}"/></div>
                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label for="auditoryFeedback" class="col-sm-4 control-label">Voice Readback</label>
                            <div class="col-sm-8" style="padding-top:6px;">
                                <input type="checkbox" name="auditoryFeedback" value="auditoryFeedback"/>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="button">
                        <div class="form-group">
                            <label for="functionText" class="col-sm-4 control-label">Button Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="functionText" id="functionText" required class="form-control" 
                                       value="" placeholder="Please enter button name (mandatory)"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="events" class="col-sm-4 control-label">User Actions</label>
                            <div class="col-sm-8">
                                <label>
                                    Click
                                    <input type="radio" name="events" value="click" checked />
                                </label>
                                <label>
                                    Press and Release
                                    <input type="radio" name="events" value="press/release" />
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recallRate" class="col-sm-4 control-label">Repeat Time (ms)</label>
                            <div class="col-sm-8">
                                <input type="text" name="recallRate" id="recallRate" required class="form-control" value="250" pattern="\d{2,5}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buttonReadback" class="col-sm-4 control-label">Voice Readback</label>
                            <div class="col-sm-8">
                                <input type="text" name="buttonReadback" id="buttonReadback" class="form-control" 
                                       value="{{buttonReadback}}" placeholder="Please enter readback text (optional)"/>
                            </div>
                        </div>
                        <div class="form-group">                           
                            <label for="keyCode" class="col-sm-4 control-label">Keyboard Key</label>
                            <div class="col-sm-8">
                                <input onkeydown="uniKeyCode(event)" class="form-control"
                                       type="text" id="keyName" name="keyName" value="{{keyName}}" placeholder="Please choose keyboard key (optional)" />
                                <input type="text" id="keyCode" name="keyCode" value="{{keyCode}}" readonly style="display:none"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="boundFunctions" class="col-sm-4 control-label">Generated Events</label>
                            <div class="col-sm-8">
                                <textarea id="boundFunctions" name="boundFunctions" type="text" readonly="true" class="form-control">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
            <button type="submit" class="btn btn-success right" id="btnOk">OK</button>
        </div>
    </div>
    </form>
</div>
