<div class="form-center">
    <div class="panel panel-info shadow center dialog">
        <div class="panel-heading">Edit {{type}}</div>
        <div class="panel-body">
            <form class="center form-horizontal" onsubmit="return false" role="form">
                {{#if isDisplay}}
                <div class="form-group">
                    <label for="auditoryFeedback" class="col-sm-4 control-label">Enable Audio Feeback</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="auditoryFeedback"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prefix" class="col-sm-4 control-label">Display name</label>
                    <div class="col-sm-8">
                        <input type="text" name="displayKey" id="displayKey" required class="form-control" value="{{displayKey}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cursorName" class="col-sm-4 control-label">Cursor name</label>
                    <div class="col-sm-8">
                        <input type="text" name="cursorName" id="cursorName" class="form-control" value="{{cursorName}}" />
                    </div>
                </div>
                {{else}}
                <div class="form-group">
                    <label for="functionText" class="col-sm-4 control-label">Button Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="functionText" id="functionText" required class="form-control" value="{{functionText}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="evts" class="col-sm-4 control-label">User Actions</label>
                    <div class="col-sm-8">
                        <input type="radio" name="evts" value="click" />
                        <label>
                            Click
                        </label>
                        <input type="radio" name="evts" value="press/release" />
                        <label>
                            Press and Release
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="recallRate" class="col-sm-4 control-label">Repeat Time (ms)</label>
                    <div class="col-sm-8">
                        <input type="text" name="recallRate" id="recallRate" required class="form-control" value="{{recallRate}}" pattern="\d{2,5}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="boundFunction" class="col-sm-4 control-label">Generated Events</label>
                    <div class="col-sm-8">
                        <textarea id="boundFunction" type="text" readonly="true" class="form-control">{{boundFunctions}}</textarea>
                    </div>
                </div>
                {{/if}}

            </form>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
            <button type="submit" class="btn btn-success right" id="btnOk">OK</button>
        </div>
    </div>
</div>
