<div class="form-center">
    <div id="open-file-browser" class="panel panel-info center dialog shadow" style="width:840px">
        <div class="panel-heading">{{title}}</div>
        <form class="center form-horizontal" onsubmit="return false" role="form">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2" style="display:none">Base Directory</span>
                <input id="baseDirectory"
                       type="text"
                       class="form-control"
                       placeholder="Please enter an absolute path..."
                       value="{{baseDirectory}}"
                       aria-describedby="basic-addon2"
                       style="display:none">
                <span class="input-group-addon" id="btnHome" style="cursor:pointer;">
                    <button><span class="glyphicon glyphicon-home" alt="Home folder"></span></button>
                </span>
                <span class="input-group-addon" id="btnEdit" style="cursor:pointer;">
                    <button><span class="glyphicon glyphicon-pencil" alt="Browse manually"></span></button>
                </span>

                <input id="currentPath"
                       type="text"
                       class="form-control"
                       placeholder="Please enter an absolute path..."
                       value="{{baseDirectory}}"
                       style="min-height:36px"
                       readonly
                       autofocus
                       alt="Path of the selected element">
<!--
                <span class="input-group-addon" id="btnUp" style="cursor:pointer;">
                    <button><span class="glyphicon glyphicon-arrow-up" alt="Up"></span></button>
                </span>
-->
            </div>
            <div class="center" style="height:320px;">
                <div id="file-bookmarks">
                  <div class="title">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    Bookmarks
                    <hr/>
                  </div>
                  <ul id="bookmark-ul" class="list">
                    {{#each bookmarks}}
                    <div id="bookmark-list-{{inc @index}}" class="bookmark" draggable="true">
                      <li>
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <span class="bookmark-label">{{@key}}</span>
                      </li>
                    </div>
                    {{/each}}
                  </ul>
                </div>
                <div id="file-browser"></div>
                <div id="file-preview" style="display:none;" draggable="false" ondragstart="return false;">
                  <div id="preview-zoom" style="display:none">
                    <a href="#" id="svg-preview-zoom">
                    </a>
                  </div>
                  <div class="media-left">
                    <a href="#"><img id="image-preview" class="media-object" src="" style="display:none;"/></a>
                  </div>
                  <div id="image-svg-preview" class="img-thumbnail" style="margin:1px;">
                    <a href="#" id="svg-preview" class="img-svg-preview">
                    </a>
                  </div>
                  <div id="file-details">
                    <h5 id="file-name" style="display:none"></h5>
                    <p class="info-details"><strong>Size: </strong><span id="file-size"></span><span id="file-size-unit"></span></p>
                    <p  class="info-details"><strong>Last Modified: </strong><span id="file-last-modified"></span></p>
                  </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
                <button type="submit" class="btn btn-success right" id="btnOk">OK</button>
            </div>
        </form>
    </div>
</div>
