<div class="form-center">
    <div class="panel panel-info shadow center  scrollable-dialog">
        <div class="panel-heading">Open Project</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body">
                <div class="form-group">
<!--                    <label class="control-label col-sm-4" for="projectName">Select Project</label>-->
					<div class="row">
						{{#each projects}}
						<div class="col-xs-6 col-md-4">
							<div class="thumbnail">
								<div class="image">
                                    {{#if this.image}}
									<img src="projects/{{this.name}}/{{this.image}}"
                                         onclick="document.getElementById('{{this.name}}').click();"/
                                         style="cursor:pointer;">
                                    {{else}}
									<img src="projects/cry.png"
                                         onclick="document.getElementById('{{this.name}}').click();"/
                                         style="cursor:pointer; max-height:120px; padding-top:32px;",
                                         alt="No Image Available">
                                    No Image Available
                                    {{/if}}
								</div>
								<div class="caption">
									<h6>{{this.name}}</h6>
									<button type="button" class="btn btn-primary" data-project="{{this.name}}" id="{{this.name}}">Open</button>
								</div>
							</div>
							
						</div>
						{{/each}}
					</div>
				</div>
            </div>
            <div class="panel-footer"> 
                <button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
<!--                <button type="submit" class="btn btn-success right" id="btnOk">OK</button>-->
            </div>
        </form>
    </div>
</div>