<div class="form-center">
    <div id="pimPMRModal" class="panel panelWide panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y: auto; height: 280px;">
                <div id="table" class="panel-body container-fluid">
                    <div id="pmPMRHeading">
                        <div class="row" style="border-bottom: 1px solid #000; padding-bottom: 5px; margin-bottom: 10px;">
                            <div class="control-label h4 col-md-4">{{textLabel.behaviour}}</div>
                            <div class="control-label h4 col-md-8" style="text-align: left;">{{textLabel.operation}}</div>
                        </div>
                    </div>
                    <div id="pmPMRList"></div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button"
                        class="btn btn-danger left"
                        id="btnLeft2">{{buttons.[0]}}</button>
                <button type="submit"
                        class="btn btn-success right"
                        id="btnRight2">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>