<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y: auto; height: 120px;">
                <div class="alert alert-danger hide">
                    <a href="#" class="close" onclick="$(this).parent().addClass('hide');">&times;</a>
                    <div id="editTransitionError"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="i_behaviour">{{textLabel.i_behaviour}}</label>
                    <div class="col-sm-8">
                        <select id="i_behaviour"
                                class="form-control"
                                type="text"
                                value=""
                                name="i_behaviour"
                                required="true">
                            <option value="" disabled selected>{{placeholder.i_behaviour}}</option>
                            {{#each value.i_behaviours}}
                            <option value="{{this.value}}">{{this.text}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit" class="btn btn-success right" id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>