/*! \page table_transitions Table of transitions
<table>
<tr><th>Transition name<th>Current state<th>Next state<th>Condition<th>Action
{{#each transitions}}{{#if id}}<tr><td>{{id}}<td>{{source.name}}<td>{{target.name}}<td>{{&condition}}<td>{{#each actions}}{{&.}}<br> {{/each}}
{{else}}<tr><td rowspan="{{length}}">{{0.id}}{{~#each .}}{{#unless @first}}<tr>{{/unless}}<td>{{source.name}}<td>{{target.name}}<td>{{&condition}}<td>{{#each actions}}{{&.}}<br> {{/each}}
{{/each}}{{/if}}{{/each}}
</table>
*/

{{&disclaimer}}
