<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y:scroll; height:720px; width:800px;">
                <div class="form-group" style="margin-bottom: 0 !important">

					<div id="PropertyTemplates">
						<div id="ConsistencyTemplate">
							<div id="templateFormula" class="templateFormula">
								<div id="templateDescription" style="margin-left:10px;">
									<ul style="white-space:normal"><b>Description: </b>An action <em>act</em> is consistent
										if the action always produces the same effect on relevant state variables.</ul><br>
									<ul style="white-space:normal"><b>Example: </b><em>click_up(display(st)) <b>&gt;</b>&nbsp; display(st)</em>&nbsp;
										This formula checks that action <em>click_up</em> always increments the <em>display</em> value.
										In this case, the consistency property is expressed as a relation </em>&gt;</em> over state variable <em>display</em>.
									</ul><br>
									<ul style="white-space:normal"><b>Intent: </b>Users quickly develop a mental model that embodies their expectations of how to interact with a user interface.
										Because of this, the overall structure of a user interface should be consistent in its layout, screen structure,
										navigation, terminology, and control elements (ANSI/AAMI/IEC HE75, Section 21.4.13: Consistency).</ul>
								</div>
								<hr>
								<div id="templatePameters" style="margin-left:10px; margin-top:20px;">
									<ul style="white-space:normal"><b>Action</b></ul>
									<select multiple id="transitions" name="transitions" style="width:300px">
										<!-- <option value="">Please choose an action</option> -->
										{{#each transitions}}
										  <option value={{this}}>{{this}}</option>
										{{/each}}
									</select><br>
									<em>(Hold down the Ctrl (Linux/Windows) / Command (Mac) button to select multiple actions)</em><br><br>
									<ul style="white-space:normal"><b>Relation</b></ul>
									<select id="relation" name="relation" style="width:300px">
										<option value="">Please choose a relation</option>
										<option value="=">=</option>
										<option value="/=">&ne;</option>
										<option value=">">&gt;</option>
										<option value=">=">&ge;</option>
										<option value="<=">&le;</option>
										<option value="<">&lt;</option>
									</select><br><br>
									<ul style="white-space:normal"><b>State Variable</b></ul>
									<select id="stateVariable" name="stateVariable" style="width:300px">
										<option value="">Please choose a state variable</option>
										{{#each stateVariables}}
										  <option value={{this}}>{{this}}</option>
										{{/each}}
									</select><br>
									<hr>
									<ul style="white-space:normal"><b>PVS THEOREM</b></ul>
									<!-- <div id="pvs_property" style="margin-left:10px;"> -->
                                    <div>
                                        <textarea
                                            rows="10" cols="88" id="pvs_property"
                                            style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;"
                                            type ="text"
                                            value=""
                                            name ="pvs_property"
                                            <!--  -->
                                        </textarea>
                                    </div>
                                    <hr>
								</div>
							</div>
						</div>
					</div>

                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit" class="btn btn-success right" id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>
